@page "/R_Libro"


<h3>Registro de Libros</h3>

<head>

</head>


<body>

    <div class="Card">
        <div class="CHead">
            
        </div>
        <div class="CBody">
            <label for="LibroId">LibroID</label>
            <input type="number" id="LibroId">
            <Button class="btn">Buscar</Button>
        </div>
        <div class="CFooter">


        </div>

    </div>    

</body>

@code {

}
